# Docs: https://github.com/TheHive-Project/TheHiveDocs

# Include Play secret key
include "{{ the_hive_conf_path }}/secret.conf"

# Cassandra Database configuration
db.janusgraph {
  storage {
    backend: cql
    username: "{{ the_hive_db_user | mandatory }}"
    password: "{{ the_hive_db_pass | mandatory }}" 
    hostname: [
{% for host in the_hive_db_hosts %}
        "{{ host.addr | mandatory }}:{{ host.port | mandatory }}", # {{ host.name | mandatory }}
{% endfor %}
    ]
    cql {
      cluster-name: "{{ the_hive_db_name | mandatory }}"
      keyspace: "{{ the_hive_db_keyspace | mandatory }}"
    }
  }
}

{% if the_hive_cortex_host %}
## CORTEX configuration
# More information at https://github.com/TheHive-Project/TheHiveDocs/TheHive4/Administration/Connectors.md
# Enable Cortex connector
play.modules.enabled += org.thp.thehive.connector.cortex.CortexModule
cortex {
  servers: [
    {
      name: "local"
      url: "http://{{ the_hive_cortex_host | mandatory }}:{{ the_hive_cortex_port | mandatory }}"
      auth {
        type: "basic"
        username: "{{ the_hive_cortex_user }}"
        password: "{{ the_hive_cortex_pass }}"
      }
    }
  ]
}
{% endif %}

# Attachment storage configuration
storage {
  provider: localfs
  localfs.directory: "{{ the_hive_data_path }}"
}

# Authentication configuration
auth {
  providers: [
    {name: session}
    {name: basic, realm: thehive}
    {name: local}
    {name: key}
{% if the_hive_oauth_client_id is defined %}
    {
      name: oauth2
      clientId: "{{ the_hive_oauth_client_id | mandatory }}"
      clientSecret: "{{ the_hive_oauth_client_secret | mandatory }}"
      userOrganisation: "{{ the_hive_oauth_org_name | mandatory }}"
      redirectUri: "https://{{ the_hive_domain | mandatory }}/api/ssoLogin"
      responseType: code
      grantType: "authorization_code"
      authorizationUrl: "https://github.com/login/oauth/authorize"
      authorizationHeader: "token"
      tokenUrl: "https://github.com/login/oauth/access_token"
      userUrl: "https://api.github.com/user"
      scope: ["user"]
      userIdField: "email" 
    }
{% endif %}
  ]
  # The format of logins must be valid email address format.
  # If the provided login doesn't contain `@` the following 
  # domain is automatically appended.
  defaultUserDomain: "{{ the_hive_domain | mandatory }}"
}
