# The secret key is used to secure cryptographic functions.
play.http.secret.key="{{ cortex_http_secret | mandatory }}"

# ElasticSearch
search {
  uri = "http://{% for node in cortex_search_nodes %}{{ node.addr }}:{{ node.port }}{% if not loop.last %},{% endif %}{% endfor %}"
  index = "{{ cortex_search_index }}"
  nbshards = 3
  nbreplicas = 1
}

# Cache
cache.job = 10 minutes

# Jobs
job {
  timeout = 30 minutes
  runners = [docker, process]
  directory = "/tmp/cortex-jobs"
  dockerDirectory = "/tmp/cortex-jobs"
}

# Authentication
auth {
  provider = [
    local,
{% if cortex_oauth_client_id is defined %}
    oauth2,
{% endif %}
  ]
  method {
    basic = true
  }
{% if cortex_oauth_client_id is defined %}
  sso {
    autocreate: false
    autoupdate: false
    mapper: "simple"
    attributes {
      login: "login"
      name: "name"
      roles: "role"
    }
    defaultRoles: ["read", "analyze"]
    defaultOrganization: "{{ cortex_org_name }}"
  }
  oauth2 {
    name: oauth2
    clientId: "{{ cortex_oauth_client_id | mandatory }}"
    clientSecret: "{{ cortex_oauth_client_secret | mandatory }}"
    redirectUri: "https://{{ cortex_domain | mandatory }}/api/ssoLogin"
    responseType: code
    grantType: "authorization_code"
    authorizationUrl: "https://github.com/login/oauth/authorize"
    authorizationHeader: "token"
    tokenUrl: "https://github.com/login/oauth/access_token"
    userUrl: "https://api.github.com/user"
    scope: ["user"]
  }
{% endif %}
}

# ANALYZERS
analyzer {
  # url can be point to:
  # - directory where analyzers are installed
  # - json file containing the list of analyzer descriptions
  urls = [
    "https://download.thehive-project.org/analyzers.json"
  ]

  # Sane defaults. Do not change unless you know what you are doing.
  fork-join-executor {
    # Min number of threads available for analysis.
    parallelism-min = 2
    # Parallelism (threads) ... ceil(available processors * factor).
    parallelism-factor = 2.0
    # Max number of threads available for analysis.
    parallelism-max = 4
  }
}

# RESPONDERS
responder {
  urls = [
    "https://download.thehive-project.org/responders.json"
  ]

  # Sane defaults. Do not change unless you know what you are doing.
  fork-join-executor {
    # Min number of threads available for analysis.
    parallelism-min = 2
    # Parallelism (threads) ... ceil(available processors * factor).
    parallelism-factor = 2.0
    # Max number of threads available for analysis.
    parallelism-max = 4
  }
}
